body {
	background-color: #fff;
	margin: 40px;
	font: 18px/26px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

ul,ol {
	list-style-type:none;
	line-height:125%;
	margin:0px;
	padding:0px;
}

li {
	margin-left:20px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 14px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
}

pre code {
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
	overflow:auto;
	white-space: pre-wrap;
	word-wrap:break-word;
}

#container {
	margin: 5% 15% 5% 15%;
	border: 1px solid #D0D0D0;
	-moz-box-shadow: 0 0 8px #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}

#head {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 22px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

#body {
	margin: 0 25px 0 25px;
}
