<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="baidu-site-verification" content="064396c715a18937d1fe8b7903fb0ff7"/>
    <meta name="baidu-tc-verification" content="f2bfb060f6fb20c4d1beb4b806d8c176" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/main.css" />
		<link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed" />
		{% include google-analytics %}
	</head>

	<body>
		<div id="container">
			<div id="head">
				<ul>
					<li><a href="http://tomlog.com/atom.xml"><img src="/images/rss_icon.png" /></a></li>
					<li><a href="http://github.com/sallon88"><img src="/images/github_icon.png" /></a></li>
					<li><a href="http://twitter.com/sallon88"><img src="/images/twitter_icon.png" /></a></li>
				</ul>
				{{ page.title}}
			</div>
			<div id="body">
				{{ content }}
			</div>
		</div>
	</body>
</html>
